/* Pagina con Student-connects solo */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Meroitic&display=swap');
body{
  margin: 0;
  overflow: hidden;
    font-family: Arial, sans-serif;
    background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  

.Student-connects{
margin-top: 20%;
margin-right: 5%;
text-align: center;
font-size: 300%;
font-family: 'Noto Sans Meroitic', sans-serif;
text-decoration-line:none;
color:rgb(255, 255, 255);
}
.Student-connects:hover{
  transition: 0.4 all ease;
  color: blue;
  cursor: pointer;
 
}
.primer-boton{
    background: none;
    border: 0; 
    color: inherit;
    overflow: hidden;
    justify-content: center;
    letter-spacing: 1.1em;
    min-height: max-content;
    width: 100%;
}
/* Formulario de registro */

.Registro_e_inicio_de_sesion{
  display: none;
}
.Registro{
  /* border: 1px solid black; */
  padding: 1px;
  max-width: 400px;
  margin-left: 30%;
  margin-top: 1%;
  padding: 20px;
  background-color:darkgrey;
}
label {
  display:flex;
  margin-bottom: 2px;
  font-weight: bold;
}

input {
  margin-bottom: 1px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #406083;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  
}

input[type="submit"]:hover {
  background-color: #0e74e1;
}
/* Inicio de sesion */
#inicioSesionFor{
  display: none;
}
.container_sesion{
  border: 1px  black;
  padding: 1px;
  max-width: 300px;
  margin-left: 35%;
  margin-top: 2%;
  padding: 20px;
  background-color:darkgrey;
}
a{
  text-decoration: none;
  color:rgb(90, 137, 150);
}
/* Pagina prncipal */
.navbar {
  background-color: #333;
  overflow: hidden;
}

.logo {
  color: white;
  margin: 10px;
  float: left;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}

.nav-links li {
  display: inline-block;
  margin: 10px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
}

.nav-links li a:hover {
  background-color: #555;
}

#btn-entrar {
  margin-top: 5px;
  padding: 3px 15px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  color: aliceblue;
  background-color: rgb(0, 145, 255);
}
#btn-entrar:hover{
  background-color: #2569b2;
  
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content, .right-content {
  flex: 1;
}

.left-content p, .right-content p {
  margin: 0;
  padding: 5px;
}

.right-content {
  text-align: right;
}

.union{
  display: flex;
 
}


.imagen_1{
  width: 40%;
  margin: 5% auto;
display: block;
background: #D3CCE3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-radius: 10px; /* Borde redondeado */
padding: 2%;
}

.entrada_enape{

  border-radius: 8px; /* Borde redondeado para la imagen */
}
